<script type="text/javascript">window.searchClearButtonLabelLocalized = "{{t 'search_clear'}}";</script>
<script src="https://kit.fontawesome.com/39f20aadc9.js" crossorigin="anonymous"></script>
<div class="container">
   <div class="bottom-wrapper">
    <div class="bottom-logo">
   <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
    </div>
  
  <div class="containerS">
    {{#isnt settings.facebook_url "#"}}
      <button class="btn1">
        <a href="{{settings.facebook_url}}">
    <img src="{{asset 'Social_Icon_01.png'}}">
        </a>
  </button>
  {{/isnt}}

      {{#isnt settings.twitter_url "#"}}
  <button class="btn1">
        <a href="{{settings.twitter_url}}">
    <img src="{{asset 'Social_Icon_02.png'}}">
        </a>
  </button>
    {{/isnt}}

      {{#isnt settings.youtube_url "#"}}
  <button class="btn1">
        <a href="{{settings.youtube_url}}">
    <img src="{{asset 'Social_Icon_03.png'}}">
        </a>
  </button>
      {{/isnt}}

      {{#isnt settings.linkedin_url "#"}}      
  <button class="btn1">
        <a href="{{settings.linkedin_url}}">
    <img src="{{asset 'Social_Icon_04.png'}}">
        </a>
  </button>
  {{/isnt}}

        {{#isnt settings.instagram_url "#"}}
      <button class="btn1">
        <a href="{{settings.instagram_url}}">
    <img src="{{asset 'Social_Icon_05.png'}}">
        </a>
  </button>
  {{/isnt}}
  </div>
    </div>

  
</div>
<footer class="footer">
  
  <div class="footer-inner">


        {{#is settings.minimal_footer false}}
      <div>
        {{#is settings.footer_title_1 true}}
          <a href="{{settings.footer_link_1}}">{{settings.footer_title_text_1}}</a>
        {{/is}}
      </div>
      <div>
        {{#is settings.footer_title_2 true}}
         <a href="{{settings.footer_link_2}}">{{settings.footer_title_text_2}}</a>
        {{/is}}
      </div>
      <div>
        {{#is settings.footer_title_3 true}}
           <a href="{{settings.footer_link_3}}">{{settings.footer_title_text_3}}</a>
        {{/is}}
      </div>
      <div>
        {{#is settings.footer_title_4 true}}
           <a href="{{settings.footer_link_4}}">{{settings.footer_title_text_4}}</a>
        {{/is}}
      </div>
      {{/is}}



  		</div>
  <div class= "footer-outer">
    <div class="footer-brand">
  <h5 class="footer-year">
    <span id="year"></span>
    {{#link 'help_center'}}{{help_center.name}}{{/link}}</h5>
    </div>
    
          
    
  </div>
</footer>
