<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">

<footer class="footer">
  <div class="footer-copyright-wrapper">
    <div class="footer-inner">
   <div class="back-to-homepage">
     <a href="{{settings.back_to_website_url}}">{{settings.back_to_website_title}}</a>
    </div>

      <div class="footer-links">
      {{#is settings.minimal_footer false}}
      <div>
        {{#is settings.footer_title_1 true}}
          <a href="{{settings.footer_link_1}}">{{settings.footer_title_text_1}}</a>
        {{/is}}
      </div>
      <div>
        {{#is settings.footer_title_2 true}}
         <a href="{{settings.footer_link_2}}">{{settings.footer_title_text_2}}</a>
        {{/is}}
      </div>
      {{/is}}
      </div>


        <div class="footer-inner-wrapper">
          <div class="social-media-div">
            <ul class="social-media-con">
              {{#isnt settings.facebook_url "#"}}
                  <button class="btn1">
                    <a href="{{settings.facebook_url}}">
                <img src="{{asset 'Social_Icon_01.png'}}">
                    </a>
              </button>
              {{/isnt}}
              {{#isnt settings.instagram_url "#"}}
                  <button class="btn1">
                    <a href="{{settings.instagram_url}}">
                <img src="{{asset 'Social_Icon_02.png'}}">
                    </a>
              </button>
              {{/isnt}}
              {{#isnt settings.linkedin_url "#"}}
                  <button class="btn1">
                    <a href="{{settings.linkedin_url}}">
                <img src="{{asset 'Social_Icon_03.png'}}">
                    </a>
              </button>
              {{/isnt}}
              {{#isnt settings.twitter_url "#"}}
                  <button class="btn1">
                    <a href="{{settings.twitter_url}}">
                <img src="{{asset 'Social_Icon_04.png'}}">
                    </a>
              </button>
              {{/isnt}}
            </ul>
          </div>
        </div>
      <div class="footer-language-selector">
        {{#if alternative_locales}}
          <div class="dropdown language-selector">
            <button class="dropdown-toggle" aria-haspopup="true">
              {{current_locale.name}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
              </svg>
            </button>
            <span class="dropdown-menu dropdown-menu-end" role="menu">
              {{#each alternative_locales}}
                <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                  {{name}}
                </a>
              {{/each}}
            </span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</footer>

<script>
  /**
  * Add icon like:
  * var assetsCAT_ID = "{{asset 'product-documents.png'}}";
  * Replace CAT_ID with the category id
  * for example:
  * var assets360003515578 = "{{asset 'product-documents.png'}}";
  **/
</script>